a {
    color: white;
}
body{
    background-image: url('https://media.istockphoto.com/photos/empty-dark-wooden-table-in-front-of-abstract-blurred-bokeh-background-picture-id1130714046?b=1&k=20&m=1130714046&s=170667a&w=0&h=MC8LticTUrt8xJ9MevhvuJEH49Rf6Psv8E50KKcPx0A=');
    background-size: cover;
    height: 100vh;
    
}  

.card, .col-md-7{
    transform: scale(1);
    transition: 0.3s ease-out;
}
.card:hover{
    transform: scale(1.1);
}
.col-md-7:hover{
    transform: scale(1.1);
}
.card-img-top{
    height: 300px;
}
